:root {
  /* ## Colors */

  /* ### Primary */

  /* #### Text */

  --Very-dark-desaturated-blue: #1d1e35;
  --Soft-red: #f47c57;

  /* #### Gradient */

  /* Background gradient: */

  --Soft-violet: #af67e9;
  --Soft-blue: #6565e7;

  /* ### Neutral */

  --White: #ffff;

  /* #### Text */
  --Grayish-Blue: #4B4C5F;
  --Very-dark-grayish-blue: #4a4b5e;
  --Dark-grayish-blue: #787887;
  --Title-Active: #1E1F36;

  /* #### Dividers */

  --Divider: #e7e7e9;

  /* FONTS */
  --Font-Weight-400: 400;
  --Font-Weight-700: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* automatically inherit box-sizing from the body element */
  /* box-sizing: inherit; */
  box-sizing: border-box;
}

/* setting the root font-size  */
html {
  box-sizing: border-box;
  /* change to 1px so that we know that 1rem will equal 10px */
  /* change the 10px to a percentage which will translate to the percentage given by the browser */
  /* 10/16*100 */
  /* this method is used when a user decides to adjust the font size on the browser  */
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: no-repeat linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  /* color: var(--Grayish-Blue); */
  color: var(--Dark-grayish-blue);
  font-size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

img {
  max-width: 100%;
}

.container {
  width: 92.0rem;
  height: 50.9rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--White);
  box-shadow: 0rem 5.0rem 5.0rem -2.0rem #35127a7f;
  border-radius: 2.3rem;
  /* background: var(--White) url("../images/illustration-woman-online-desktop.svg") no-repeat -20% center; */
  background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
  background-position: -20% center, -110% 60%;
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 70%;
  position: relative;
}

.title {
  font-weight: var(--Font-Weight-700);
  font-size: 3.2rem;
  line-height: 4.0rem;
  color: var(--Title-Active);
  padding-bottom: 3.7rem;

}

.faq-box {
  position: absolute;
  left: -10rem;
  top: 45%;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question {
  padding-top: 0.2rem;
  border-bottom: 1px solid var(--Divider);
  cursor: pointer;
}

.faq-description {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}

.faq-question.active .faq-description {
  max-height: 6.3rem;
  padding-bottom: 1.6rem;
}

.faq-question.active .faq-title {
  color: var(--Very-dark-desaturated-blue);
  font-weight: var(--Font-Weight-700);
}

.faq-question.active .faq-arrow {
  transform: rotate(180deg);
}

.faq-right {
  width: 35rem;
}

.faq-title {
  padding-top: 1.1rem;
  font-weight: var(--Font-Weight-400);
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--Grayish-Blue);
}

.faq-title.active {
  font-weight: var(--Font-Weight-700);
  color: var(--Title-Active);
}

.faq-description {
  padding-top: 1.1rem;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.faq-mobile-bg {
  display: none;
}


@media only screen and (max-width: 98rem) {
  .container {
    width: 327px;
    height: 535px;
    background-image: none;
    flex-direction: column;
  }

  .faq-mobile-bg {
    display: block;
    position: absolute;
    top: -16rem;
    left: 10%;
    width: 80%;
    position: relative;
  }

  .faq-left::after {
    content: '';
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    bottom: -2%;
    left: -15%;
    height: 100%;
    width: 100%;
    z-index: 0;

  }

  .faq-header {
    width: 100%;
  }

  .faq-box {
    display: none
  }

  .faq-left {
    width: 100%;
    height: unset;
  }

  .faq-right {
    width: 100%;
    margin-top: -20rem;
  }

  .title {
    text-align: center;
  }
}